root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.{md,rst}]
trim_trailing_whitespace = false
indent_size = 2

[*.{yml,yaml,yml.j2,yaml.j2,j2}]
indent_size = 2

[*.{json,toml,conf,cloud-init,aclpolicy}]
indent_size = 2
